.discont nav {
    display: flex;
    height: 38px;
    background: #1ed6b4;
    padding-left: 10px;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
}

.title h1 {
    display: flex;
    align-items: center;
    padding-left: 28px;
    height: 101px;
    background: #036eac;
    box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.25);
    top: 0;
    font-size: 40px;
    line-height: 47px;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
    margin-top: 125px;
    flex-wrap: wrap;
    gap: 100px;
  }  

.formulario__config {
    
}


  a:hover {
    
}

footer {
    background-color: #00669f;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    color: #f3f3f3;
}

