@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@400;700&family=Roboto&display=swap');


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "roboto", Arial, Helvetica, sans-serif
}

.discont nav {
  display: flex;
  height: 38px;
  background: #1ed6b4;
  padding-left: 10px;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}

.title h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  height: 101px;
  background: #036eac;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  top: 0;
  font-size: 40px;
  line-height: 47px;
}

.login__title {
  width: 195px;
  height: 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  line-height: 72px;
  font-size: 42px;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
  margin-top: 125px;
  flex-wrap: wrap;
  gap: 100px;
}

.formulario__config {
  width: 420px;
  height: 224px;
  margin-bottom: 70px;
}

.container__login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  height: 35px;
}

input[type="text"]::placeholder {
  padding-left: 5px;
}

.container__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 35px 0px 5px 0px;
}

.button__config {
  width: 420px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  background-color: #1CD1B0;
  text-align: center;
  transition: all 0.2s;
  font-family: 'Karla';
  font-weight: bold;
}

a.button__config:hover {
  background-color: #1CD1B0;
  opacity: 0.85;
}

.p__config {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: 'Karla';
  font-size: 0.75rem;
}

footer {
  background-color: #00669f;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}
footer ul{
display: flex;
align-items: row;
gap: 20px;
list-style-type: none;
}