@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

}
.discont h3 {
  display: flex;
  height: 38px;
  background: #1ed6b4;
  padding-left: 10px;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}
.title {
  position: relative;
  display: flex;
  background: #036eac;
  box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.25);
  width: auto;
  height: 6rem;
}
.title h1 {
  display: flex;
  align-items: center;
  padding-left: 28px;
  top: 0;
  font-size: 40px;
  line-height: 47px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
}
.formulario{
  margin: auto;
  width:90%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.formulario legend{
  font-size: 3rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
letter-spacing: 0em;
text-align: center;

}
.preenchimento-form{
  padding: 10rem;
  height: 30rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
.caixas-registro{
  padding: 3rem;
  width: 30rem;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
label{
  
}

footer {
  background-color: #00669f;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 35px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
footer ul {
  display: flex;
  align-items: row;
  gap: 20px;
  list-style-type: none;
}
input[type=text],[type=password]{
  width: 25rem;
  height: 3rem;
}
select[id=pais]{
  width:25rem;
  height: 3rem;
}
input[type=reset],[type=submit]{
  width: 10rem;
  height: 2rem;
  border-radius: 23.010988235473633px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 0em;
  text-align: center;
}
.botoes-registro input[type=submit] {
  background-color: #1CD1B0;
 border: none;
}
.botoes-registro input[type=reset]{
  background-color: #888888;
  border: none;
  color: white;
  ;
}
legend{
 display: flex;
 justify-content: left;
 font-family: "Roboto", Arial, Helvetica, sans-serif;
}