* {
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

.card__one {
background-color: black;
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: flex-end;
}

.card__list__d {
color: white;

display: flex;
flex-direction: row;
justify-content: end;
align-items: center;
gap: 15px;
  
}
